<h2 style="text-align: center">Facility List</h2>
<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let f of facility">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/insta-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Villa Beach Front</h5>
          <p>Area : {{f.serviceArea}}</p>
          <p style="color: red">Price : {{f.serviceCost}}</p>
          <p>Peoples : {{f.serviceMaxPeople}}</p>
          <p>Standard : vip</p>
          <p>Detail : {{f.descriptionOtherConvenience}}</p>
          <p>Pool Area : {{f.poolArea}}</p>
          <p>Floor : {{f.numberOfFloor}}</p>
          <p>Floor : {{f.numberOfFloor}}</p>
          <div>
            <a [routerLink]="['/facility-update',f.serviceId]" class="btn btn-warning" style="float: left">Update</a>
            <button class="btn btn-danger" style="float: right" data-target="#deleteModal"
                    data-toggle="modal"
                    onclick="deleteCustomer(1,'1')">Delete
              <i class='bx bx-trash'></i>
            </button>
          </div>
          <!--                    </td>-->
        </div>
      </div>
    </div>
<!--    <div class="col-4">-->
<!--      <div class="card" style="width: 18rem;">-->
<!--        <img src="../../assets/images/insta-4.jpg" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">House Princess 01</h5>-->
<!--          <p>Area : {{f.serviceArea}}</p>-->
<!--          <p style="color: red;">Price : {{f.serviceCost}}</p>-->
<!--          <p>Peoples : {{f.serviceMaxPeople}}</p>-->
<!--          <p>Standard : vip</p>-->
<!--          <p>Detail : {{f.descriptionOtherConvenience}}</p>-->
<!--          <p>Pool Area : {{f.poolArea}}</p>-->
<!--          <p>Floor : {{f.numberOfFloor}}</p>-->
<!--          <p>Floor : {{f.numberOfFloor}}</p>-->
<!--          <div>-->
<!--            <a [routerLink]="['/facility-update']" style="float: left" class="btn btn-warning">Update</a>-->
<!--            <button class="btn btn-danger" style="float: right" data-target="#deleteModal"-->
<!--                    data-toggle="modal"-->
<!--                    onclick="deleteCustomer(1,'1')">Delete-->
<!--              <i class='bx bx-trash'></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--      <div class="card" style="width: 18rem;">-->
<!--        <img src="../../assets/images/insta-4.jpg" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Room Twin 01-->
<!--          </h5>-->
<!--          <p>Area : {{f.serviceArea}}</p>-->
<!--          <p style="color:red;">Price : {{f.serviceCost}}</p>-->
<!--          <p>Peoples : {{f.serviceMaxPeople}}</p>-->
<!--          <p>Standard : vip</p>-->
<!--          <p>Detail : {{f.descriptionOtherConvenience}}</p>-->
<!--          <p>Pool Area : {{f.poolArea}}</p>-->
<!--          <p>Floor : {{f.numberOfFloor}}</p>-->
<!--          <p>Floor : {{f.numberOfFloor}}</p>-->
<!--          <div>-->
<!--            <a [routerLink]="['/facility-update']" style="float: left" class="btn btn-warning">Update</a>-->
<!--            <button class="btn btn-danger" style="float: right" data-target="#deleteModal"-->
<!--                    data-toggle="modal"-->
<!--                    onclick="deleteCustomer(1,'1')">Delete-->
<!--              <i class='bx bx-trash'></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
<app-modal></app-modal>
