<table>
  <tr>
    <td colspan="4">
      <input type="text" id="display">
    </td>
  </tr>
  <tr>
    <td><input type="button" value="1" (click)="showNumber('1')" /></td>
    <td><input type="button" value="2" (click)="showNumber('2')" /></td>
    <td><input type="button" value="3" (click)="showNumber('3')" /></td>
    <td><input type="button" value="+" (click)="showNumber('+')" /></td>
  </tr>
  <tr>
    <td><input type="button" value="4" (click)="showNumber('4')"></td>
    <td><input type="button" value="5" (click)="showNumber('5')"></td>
    <td><input type="button" value="6" (click)="showNumber('6')"></td>
    <td><input type="button" value="-" (click)="showNumber('-')"></td>
  </tr>
  <tr>
    <td><input type="button" value="7" (click)="showNumber('7')"></td>
    <td><input type="button" value="8" (click)="showNumber('8')"></td>
    <td><input type="button" value="9" (click)="showNumber('9')"></td>
    <td><input type="button" value="*" (click)="showNumber('*')"></td>
  </tr>
  <tr>
    <td><input type="button" value="C" (click)="clear()" >
    </td>
    <td><input type="button" value="0" (click)="showNumber('0')"></td>
    <td><input type="button" value="=" (click)="result()"></td>
    <td><input type="button" value="/" (click)="showNumber('/')"></td>
  </tr>
</table>

