<!--create-->

<!--customerId: number;-->
<!--customerName: string;-->
<!--customerBirth: string;-->
<!--customerGender: string;-->
<!--customerIdCard: string;-->
<!--customerPhone: string;-->
<!--customerEmail: string;-->
<!--customerAddress: string;-->
<!--customerCode: string;-->
<!--customerType: CustomerType;-->
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h2 style="text-align: center">Create new Customer</h2>
      <form [formGroup]="customerForm" (ngSubmit)="customerSubmit()">

        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example10">Customer Code</label>
          <input type="text" id="form1Example10" class="form-control" formControlName="customerCode" />
          <p style="color: red" *ngIf="customerForm.controls.customerCode.hasError('pattern') && customerForm.controls.customerCode.touched">Nhập sai định dạng mã khách hàng</p>
          <p style="color: red" *ngIf="customerForm.controls.customerCode.hasError('required') && customerForm.controls.customerCode.touched">Mã khách hàng không được để trống</p>
        </div>
        <!-- Name  input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example1">Customer Name</label>
          <input type="text" id="form1Example1" class="form-control" formControlName="customerName" />
          <p style="color: red" *ngIf="customerForm.controls.customerName.hasError('required') && customerForm.controls.customerName.touched">Tên khách hàng không được để trống</p>
        </div>

        <!-- Type input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example2">Type customer</label>
          <!--                    <input type="text" id="form1Example2" class="form-control" />-->
          <select class="form-control"
                  id="customerType"
                  name="rentType" id="form1Example2">
            <option value="null">Select Customer type</option>
            <option value="1">Diamond</option>
            <option value="2">Platinium</option>
            <option value="3">Gold</option>
            <option value="4">Silver</option>
            <option value="5">Member</option>
          </select>
        </div>

        <!-- DOB input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example3">DOB</label>
          <input type="date" id="form1Example3" class="form-control" formControlName="customerBirth"/>
          <p style="color: red" *ngIf="customerForm.controls.customerBirth.hasError('pattern') && customerForm.controls.customerBirth.touched">Nhập sai định dạng Ngày sinh</p>
          <p style="color: red" *ngIf="customerForm.controls.customerBirth.hasError('required') && customerForm.controls.customerBirth.touched">Ngày sinh không được để trống</p>
        </div>

        <!-- Peoples input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example4">Peoples</label>
          <input type="text" id="form1Example4" class="form-control" />
        </div>

        <!-- ID Card input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example5">ID Card</label>
          <input type="text" id="form1Example5" class="form-control" formControlName="customerIdCard"/>
          <p style="color: red" *ngIf="customerForm.controls.customerIdCard.hasError('pattern') && customerForm.controls.customerIdCard.touched">Nhập sai định dạng số cmnd</p>
          <p style="color: red" *ngIf="customerForm.controls.customerIdCard.hasError('required') && customerForm.controls.customerIdCard.touched">cmnd không được để trống</p>
        </div>

        <!-- Phone input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example6">Phone</label>
          <input type="text" id="form1Example6" class="form-control" formControlName="customerPhone"/>
          <p style="color: red" *ngIf="customerForm.controls.customerPhone.hasError('pattern') && customerForm.controls.customerPhone.touched">Nhập sai định dạng số điện thoại</p>
          <p style="color: red" *ngIf="customerForm.controls.customerPhone.hasError('required') && customerForm.controls.customerPhone.touched">số điện thoại không được để trống</p>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example7">Email</label>
          <input type="text" id="form1Example7" class="form-control" formControlName="customerEmail"/>
          <p style="color: red" *ngIf="customerForm.controls.customerEmail.hasError('email') && customerForm.controls.customerEmail.touched">Nhập sai định dạng email</p>
          <p style="color: red" *ngIf="customerForm.controls.customerEmail.hasError('required') && customerForm.controls.customerEmail.touched">email không được để trống</p>
        </div>

        <!-- Address input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example8">Address</label>
          <input type="text" id="form1Example8" class="form-control" formControlName="customerAddress"/>
          <p style="color: red" *ngIf="customerForm.controls.customerAddress.hasError('required') && customerForm.controls.customerAddress.touched">địa chỉ không được để trống</p>
        </div>
        <!-- Submit button -->
        <div class="container col-5">
          <button type="submit" class="btn btn-info btn-block" style="width: 200px">Create New Customer</button>
        </div>
      </form>
      <h2 style="color: white">----</h2>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<!--create-->
