<!--table-->
<h2 style="text-align: center">Contract List</h2>
<div class="container">
  <div class="row">
  <table class="table table-borderless table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col-1">#</th>
      <th class="col-1">Service</th>
      <th class="col-1">Customer</th>
      <th class="col-1">Start date</th>
      <th class="col-1">End date</th>
      <th class="col-1">Deposit</th>
      <th class="col-1">Total</th>
      <th class="col-3">Attach</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-1">1</td>
      <td class="col-1">Villa River Side</td>
      <td class="col-1">Bùi Quốc Tín</td>
      <td class="col-1">01-01-2022</td>
      <td class="col-1">05-01-2022</td>
      <td class="col-1">500.000</td>
      <td class="col-1">5.000.000</td>
      <td class="col-1">Buffet, karaoke, thue xe dap</td>
    </tr>
    <tr>
      <td class="col-1">2</td>
      <td class="col-1">Villa Beach Side</td>
      <td class="col-1">Bùi Quốc Tín</td>
      <td class="col-1">02-01-2022</td>
      <td class="col-1">02-01-2022</td>
      <td class="col-1">5.000.000</td>
      <td class="col-1">50.000.000</td>
      <td class="col-3">Buffet, karaoke, thue xe dap, massage</td>
    </tr>
    <tr>
      <td class="col-1">3</td>
      <td class="col-1">Villa South Side</td>
      <td class="col-1">Bùi Quốc Tín</td>
      <td class="col-1">02-01-2022</td>
      <td class="col-1">02-01-2022</td>
      <td class="col-1">50.000.000</td>
      <td class="col-1">500.000.000</td>
      <td class="col-3">Buffet, karaoke, thue xe dap, massage</td>
    </tr>
    <tr>
      <td class="col-1">4</td>
      <td class="col-1">Villa North Side</td>
      <td class="col-1">Bùi Quốc Tín</td>
      <td class="col-1">02-01-2022</td>
      <td class="col-1">02-01-2022</td>
      <td class="col-1">5000.000</td>
      <td class="col-1">50.000.000</td>
      <td class="col-3">Buffet, karaoke, thue xe dap, massage</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>


<!--table-->
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">QUOCTIN HOTEL</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Useful Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Blog</a></li>
            <li><a href="#" class="py-2 d-block">Rooms</a></li>
            <li><a href="#" class="py-2 d-block">Amenities</a></li>
            <li><a href="#" class="py-2 d-block">Gift Card</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Privacy</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Career</a></li>
            <li><a href="#" class="py-2 d-block">About Us</a></li>
            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
            <li><a href="#" class="py-2 d-block">Services</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker">a</span><span class="text">999 Mountain DEW st, QUẬN CAM,THÀNH PHỐ CALI, HOA KỲ</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">buiquoctin.job@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

