<!--table-->
<h2 style="text-align: center">Customer List</h2>
<div class="container">
  <div class="row">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
      <tr>
        <p class="mt-3">Searching customer </p>
        <div class="form-inline my-lg-3">
          <div class="row">
            <div class="col-4">
              <input class="form-control mr-sm-2" type="search" placeholder="Name" aria-label="Search"
                     name="keySearch1" id="keySearch1" #keySearch1>
            </div>
            <div class="col-4">
              <input class="form-control mr-sm-2" type="search" placeholder="Phone" aria-label="Search"
                     name="keySearch2" id="keySearch2" #keySearch2>
            </div>

            <div class="col-4">
              <select
                      class="form-control" name="keySearch3" id="keySearch3" #keySearch3>
                <option value="">Select customerType</option>
                <option value="Diamond"> Diamond</option>
                <option value="Platinum"> Platinum</option>
                <option value="Gold"> Gold</option>
                <option value="Silver"> Silver</option>
                <option value="Member"> Member</option>
              </select>
            </div>
          </div>
          <div class="col">
            <button (click)="search()" class="btn btn-outline-success my-2 my-sm-7" type="submit">Search</button>
          </div>
        </div>
      </tr>
      <tr>
        <!--        <th class="col-1">Id</th>-->
        <th class="col-2">#</th>
        <th class="col-2">Code</th>
        <th class="col-2">Name</th>
        <!--        <th class="col-1">Gender</th>-->
        <th class="col-2">DOB</th>
        <!--        <th class="col-1">IDCard</th>-->
        <!--        <th class="col-1">Phone</th>-->
        <!--        <th class="col-1">Email</th>-->
        <th class="col-1">Address</th>
        <th class="col-1">Type</th>
        <th class="col-3">More</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of customers|paginate : { itemsPerPage: 1, currentPage: p}; index as i">
        <td class="col-2">{{i + 1}}</td>
        <!--        <td class="col-1">{{c.customerId}}</td>-->
        <td class="col-2">{{c.customerCode}}</td>
        <td class="col-2">{{c.customerName}}</td>
        <!--        <td class="col-1">{{c.customerGender}}</td>-->
        <td class="col-2">{{c.customerBirth}}</td>
        <!--        <td class="col-1">{{c.customerIdCard}}</td>-->
        <!--        <td class="col-1">{{c.customerPhone}}</td>-->
        <!--        <td class="col-1">{{c.customerEmail}}</td>-->
        <td class="col-1">{{c.customerAddress}}</td>
        <td class="col-1">{{c.customerType.type}}</td>
        <div>
          <a [routerLink]="['/customer/update',c.id]" style="float: left" class="btn btn-warning">Update</a>
          <button class="btn btn-danger" style="float: right" data-target="#deleteModal"
                  data-toggle="modal"
                  (click)="showMessage(c.id,c.customerName)">Delete
            <i class='bx bx-trash'></i>
          </button>
        </div>
      </tr>
      </tbody>
    </table>
    <div style="justify-content: space-around;" class="mx-auto">
      <div>
        <pagination-controls (pageChange)="p = $event" class=" page-item"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete customer {{nameToDelete}}
          <span class="text-danger font-weight-bold" id="nameDelete"></span>
        </p>
      </div>
      <div class="modal-footer">
        <div class="mx-auto row">
          <input type="hidden" name="id" id="idDelete">
          <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger mx-1 " (click)="deleteModal()" data-dismiss="modal">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modal-->
