<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">QUOCTIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="rooms.html" class="nav-link">Rooms</a></li>
        <li class="nav-item active"><a href="facility.html" class="nav-link">Facility</a></li>
        <li class="nav-item"><a href="customer.html" class="nav-link">Customer</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contract</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav-->

<div class="hero-wrap" style="background-image: url('../../assets/images/bg_1.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
        <div class="text">
          <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home</a></span>
            <span>about</span></p>
          <h1 class="mb-4 bread">Facility</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 style="text-align: center">Facility List</h2>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/insta-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Villa Beach Front</h5>
          <p>Area : 25000</p>
          <p>Price : 10000000</p>
          <p>Peoples : 10</p>
          <p>Standard : vip</p>
          <p>Detail : Có hồ bơi</p>
          <p>Pool Area : 500</p>
          <p>Floor : 4</p>
          <div >
            <a href="facility-update.html" class="btn btn-warning" >Update</a>
            <button class="btn btn-danger" data-target="#deleteModal"
                    data-toggle="modal"
                    onclick="deleteCustomer(1,'1')">Delete
              <i class='bx bx-trash'></i>
            </button>
          </div>
          <!--                    </td>-->
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/insta-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">House Princess 01</h5>
          <p>Area : 14000
          </p>
          <p>Price : 5000000
          </p>
          <p>Peoples : 7
          </p>
          <p>Standard : vip</p>
          <p>Detail : Có thêm bếp nướng
          </p>
          <p>Pool Area : No</p>
          <p>Floor : 3
          </p>
          <div >
            <a href="facility-update.html" class="btn btn-warning" >Update</a>
            <button class="btn btn-danger" data-target="#deleteModal"
                    data-toggle="modal"
                    onclick="deleteCustomer(1,'1')">Delete
              <i class='bx bx-trash'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/insta-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Room Twin 01
          </h5>
          <p>Area : 5000
          </p>
          <p>Price : 1000000
          </p>
          <p>Peoples : 2
          </p>
          <p>Standard : normal
          </p>
          <p>Detail : Có tivi
          <p>Pool Area : No</p>
          <p>Floor : No</p>
          <div >
            <a href="facility-update.html" class="btn btn-warning" >Update</a>
            <button class="btn btn-danger" data-target="#deleteModal"
                    data-toggle="modal"
                    onclick="deleteCustomer(1,'1')">Delete
              <i class='bx bx-trash'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--        <div class="col-3">-->
    <!--            <div class="card" style="width: 18rem;">-->
    <!--                <img src="images/insta-4.jpg" class="card-img-top" alt="...">-->
    <!--                <div class="card-body">-->
    <!--                    <h5 class="card-title">Villa No Beach Front</h5>-->
    <!--                    <p>Area : 22000</p>-->
    <!--                    <p>Price : 9000000</p>-->
    <!--                    <p>Peoples : 8</p>-->
    <!--                    <p>Standard : normal</p>-->
    <!--                    <p>Detail : Có hồ bơi</p>-->
    <!--                    <p>Pool Area : 300</p>-->
    <!--                    <p>Floor : 3</p>-->
    <!--                    <div >-->
    <!--                        <a href="facility-update.html" class="btn btn-warning" >Update</a>-->
    <!--                        <button class="btn btn-danger" data-target="#deleteModal"-->
    <!--                                data-toggle="modal"-->
    <!--                                onclick="deleteCustomer(1,'1')">Delete-->
    <!--                            <i class='bx bx-trash'></i>-->
    <!--                        </button>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <h2 style="text-align: center; color: white">-------</h2>


    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete customer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you really want to delete customer
              <span class="text-danger font-weight-bold" id="nameDelete"></span>
            </p>
          </div>
          <div class="modal-footer">
            <div class="mx-auto row">
              <input type="hidden" name="id" id="idDelete">
              <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger mx-1 ">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">QUOCTIN HOTEL</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Useful Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Blog</a></li>
            <li><a href="#" class="py-2 d-block">Rooms</a></li>
            <li><a href="#" class="py-2 d-block">Amenities</a></li>
            <li><a href="#" class="py-2 d-block">Gift Card</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Privacy</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Career</a></li>
            <li><a href="#" class="py-2 d-block">About Us</a></li>
            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
            <li><a href="#" class="py-2 d-block">Services</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">999 Mountain DEW st, QUẬN CAM,THÀNH PHỐ CALI, HOA KỲ</span>
              </li>
              <li><a href="#"><span class="icon icon-phone"></span><span
                class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">buiquoctin.job@gmail.com</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script>
          All rights reserved | This template is made with <i class="icon-heart color-danger"
                                                              aria-hidden="true"></i> by <a
            href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
            stroke="#F96D00"/>
  </svg>
</div>


<!--modal-->
<script>
  document.querySelector('.table').onclick = ({
                                                target
                                              }) => {
    if (!target.classList.contains('more')) return;
    document.querySelectorAll('.dropout.active').forEach(
      (d) => d !== target.parentElement && d.classList.remove('active')
    );
    target.parentElement.classList.toggle('active');
  };
</script>
<script>
  function deleteCustomer(id, name) {
    document.getElementById("idDelete").value = id;
    document.getElementById("nameDelete").innerText = " " + name + "?";
  }

</script>
<!--modal-->
