<h2 style="text-align: center">Facility List</h2>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/insta-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Villa Beach Front</h5>
          <p>Area : 25000</p>
          <p>Price : 10000000</p>
          <p>Peoples : 10</p>
          <p>Standard : vip</p>
          <p>Detail : Có hồ bơi</p>
          <p>Pool Area : 500</p>
          <p>Floor : 4</p>
          <div >
            <a href="facility-update.html" class="btn btn-warning" >Update</a>
            <button class="btn btn-danger" data-target="#deleteModal"
                    data-toggle="modal"
                    onclick="deleteCustomer(1,'1')">Delete
              <i class='bx bx-trash'></i>
            </button>
          </div>
          <!--                    </td>-->
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/insta-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">House Princess 01</h5>
          <p>Area : 14000
          </p>
          <p>Price : 5000000
          </p>
          <p>Peoples : 7
          </p>
          <p>Standard : vip</p>
          <p>Detail : Có thêm bếp nướng
          </p>
          <p>Pool Area : No</p>
          <p>Floor : 3
          </p>
          <div >
            <a href="facility-update.html" class="btn btn-warning" >Update</a>
            <button class="btn btn-danger" data-target="#deleteModal"
                    data-toggle="modal"
                    onclick="deleteCustomer(1,'1')">Delete
              <i class='bx bx-trash'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/images/insta-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Room Twin 01
          </h5>
          <p>Area : 5000
          </p>
          <p>Price : 1000000
          </p>
          <p>Peoples : 2
          </p>
          <p>Standard : normal
          </p>
          <p>Detail : Có tivi
          <p>Pool Area : No</p>
          <p>Floor : No</p>
          <div >
            <a href="facility-update.html" class="btn btn-warning" >Update</a>
            <button class="btn btn-danger" data-target="#deleteModal"
                    data-toggle="modal"
                    onclick="deleteCustomer(1,'1')">Delete
              <i class='bx bx-trash'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--        <div class="col-3">-->
    <!--            <div class="card" style="width: 18rem;">-->
    <!--                <img src="images/insta-4.jpg" class="card-img-top" alt="...">-->
    <!--                <div class="card-body">-->
    <!--                    <h5 class="card-title">Villa No Beach Front</h5>-->
    <!--                    <p>Area : 22000</p>-->
    <!--                    <p>Price : 9000000</p>-->
    <!--                    <p>Peoples : 8</p>-->
    <!--                    <p>Standard : normal</p>-->
    <!--                    <p>Detail : Có hồ bơi</p>-->
    <!--                    <p>Pool Area : 300</p>-->
    <!--                    <p>Floor : 3</p>-->
    <!--                    <div >-->
    <!--                        <a href="facility-update.html" class="btn btn-warning" >Update</a>-->
    <!--                        <button class="btn btn-danger" data-target="#deleteModal"-->
    <!--                                data-toggle="modal"-->
    <!--                                onclick="deleteCustomer(1,'1')">Delete-->
    <!--                            <i class='bx bx-trash'></i>-->
    <!--                        </button>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <h2 style="text-align: center; color: white">-------</h2>


    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete customer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you really want to delete customer
              <span class="text-danger font-weight-bold" id="nameDelete"></span>
            </p>
          </div>
          <div class="modal-footer">
            <div class="mx-auto row">
              <input type="hidden" name="id" id="idDelete">
              <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger mx-1 ">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
            stroke="#F96D00"/>
  </svg>
</div>


<!--modal-->
<script>
  document.querySelector('.table').onclick = ({
                                                target
                                              }) => {
    if (!target.classList.contains('more')) return;
    document.querySelectorAll('.dropout.active').forEach(
      (d) => d !== target.parentElement && d.classList.remove('active')
    );
    target.parentElement.classList.toggle('active');
  };
</script>
<script>
  function deleteCustomer(id, name) {
    document.getElementById("idDelete").value = id;
    document.getElementById("nameDelete").innerText = " " + name + "?";
  }

</script>
<!--modal-->
