<!--<app-header></app-header>-->
<!--<app-facility></app-facility>-->
<!--<app-home-page></app-home-page>-->
<!--<app-footer></app-footer>-->
<!--<app-customer></app-customer>-->
<!--<app-contract></app-contract>-->
<!--<app-customer-create></app-customer-create>-->
<!--<app-customer-update></app-customer-update>-->
<!--<app-facility-create></app-facility-create>-->
<!--<app-facility-update></app-facility-update>-->
<app-header></app-header>
<app-home-page></app-home-page>
<app-footer></app-footer>
